<!DOCTYPE html>
<html>
  <head>
    <title>Game Page</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Первая страница</a></li>
          <li><a href="{% url 'page2' %}">Вторая страница</a></li>
          <li><a href="{% url 'game_page' %}">Вторая страница</a></li>
        </ul>
      </nav>
    </header>
    <h1>Добро пожаловать на страницу игры</h1>
    <p>Нажмите на кнопку, чтобы начать игру:</p>
    <a href="{% url 'game' %}">
      <button>Перейти к игре</button>
    </a>
  </body>
</html>
