<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Первая страница</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Первая страница</a></li>
          <li><a href="{% url 'page2' %}">Вторая страница</a></li>
        </ul>
      </nav>
    </header>

    <h1>Привет! Это первая страница</h1>
    <h2>Домашнее задание #3</h2>
    <h2>Тема: Введение в Django</h2>
    <p>Нажмите на кнопку ниже, чтобы перейти к игре.</p>
    <a href="{% url 'game' %}">
      <button>Перейти к игре</button>
    </a>
  </body>
</html>
